body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc; 
}

header {
    background-color: #007bff; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: white; 
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: #333; 
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff; 
    color: white;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-name {
    margin-right: 15px;
    font-weight: bold;
}

.contact-info a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.header-download {
    position: absolute;
    right: 10px;
    bottom: 20px;
    padding: 10px;
}

.header-download a {
    padding: 10px 15px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
    display: inline-flex;
    align-items: center;
}

.header-download a i {
    margin-right: 5px;
}

.header-download a:hover {
    background-color: #0056b3;
    border-color: #004080;
}

